In [12]:
import pandas as pd
import altair as alt
import datapane as dp

In [13]:
url = 'https://covid.ourworldindata.org/data/vaccinations/vaccinations-by-manufacturer.csv'
df = pd.read_csv(url, parse_dates=['date'])

In [14]:
df.head()

  location       date          vaccine  total_vaccinations
0    Chile 2020-12-24  Pfizer/BioNTech                 420
1    Chile 2020-12-25  Pfizer/BioNTech                5198
2    Chile 2020-12-26  Pfizer/BioNTech                8338
3    Chile 2020-12-27  Pfizer/BioNTech                8649
4    Chile 2020-12-28  Pfizer/BioNTech                8649

In [15]:
df = df.groupby(["vaccine", "date"])["total_vaccinations"].sum().reset_index()

In [25]:
plot = alt.Chart(df).mark_area(opacity=0.4, stroke="black").encode(
x="date:T",
y=alt.Y("total_vaccinations:Q"),
color=alt.Color("vaccine:N", scale=alt.Scale(scheme="set1")),
tooltip="vaccine:N").interactive().properties(width="container")

In [26]:
total_df = df[df["date"] == df["date"].max()]
total_df = total_df.sort_values("total_vaccinations", ascending=False)
total_df.reset_index(drop=True)

              vaccine       date  total_vaccinations
0     Pfizer/BioNTech 2021-05-11           167254245
1             Moderna 2021-05-11           116118995
2     Johnson&Johnson 2021-05-11             9417333
3  Oxford/AstraZeneca 2021-05-11             6935332

In [27]:
total_styled = total_df.style.bar(subset=["total_vaccinations"], color="red", 
                                  vmax=total_df["total_vaccinations"].sum())

In [28]:
dp.Report("## Vaccination Report",
    dp.Plot(plot, caption="Vaccinations by manufacturer over time"),
    dp.Table(total_styled, caption="Current vaccination totals by manufacturer")
).save(path='report.html', open=True)